<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- FA-ICONS -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/landing-styles.css" />
    <link rel="stylesheet" href="/assets/stylesheets/common-styles.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">

    <title>Linkers.</title>
  </head>
  <body>
    <nav class = "nav-bar d-flex flex-row align-center justify-between">
        <div class="nav-logo"><a href=""><h1>Linkers.</h1></a></div>
        <ul class="nav-items d-flex flex-row">
        <li class="nav-link">
            <a id ="t" href="/login" class="btn btn-green">Sign in</a>
        </li>
        <li class="nav-link">
            <a href="/register" class="btn btn-outline btn-green">Sign up</a>
        </li>
        </div>
    </nav>

    <!-- MAIN -->
    <main class="d-flex flex-row align-center">
        <div>
            <h3 class="title">Save all you links with ease</h3>
            <p class="paragraph">Group all your related links easily efficiently</p>
            <a href="/links" class="btn btn-green">Get started</a>
        </div>
        <div>
            <img class="main-svg" src="/assets/images/Tabs-amico.svg" alt="main-img">
        </div>
    </main>

    <!-- FEATURES -->
    <section id="features">
        <div class="feature">
            <i class="fas fa-save"></i>
            <h4>Save links</h4>
            <p>Group your links and label them!</p>
        </div>
        <div class="divider"></div>
        <div class="feature">
            <i class="far fa-share-square"></i>
            <h4>Share links</h4>
            <p>Share your links group to your contact!</p>
        </div>
        <div class="divider"></div>
        <div class="feature">
            <i class="fas fa-dollar-sign"></i>
            <i class="fas fa-minus"></i>            
            <h4>Free</h4>
            <p>You can access all features freely!</p>
        </div>
    </section>

    <!-- TESTIMONIALS -->
    <section id="testimonials">
        <h1>What they say about us?</h1>
        <div class="testimonial testi-1">
            <img src="/assets/images/testi-3.jpeg" alt="">
            <h4>Jason</h4>
            <div class="rate">
                <i class="fas fa-star"></i>
                <span>4.5</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellat eum voluptatem doloribus quam temporibus ut. Exercitationem iste omnis fuga molestias magnam quam ullam, doloribus id consequatur harum. Ea, cupiditate.</p>
        </div>
        <div class="testimonial testi-2">
            <img src="/assets/images/testi-2.jpeg" alt="">
            <h4>Emma</h4>
            <div class="rate">
                <i class="fas fa-star"></i>
                <span>4.5</span>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis enim ut doloribus. Quae voluptates sit labore facilis deleniti maiores a sint eius praesentium tenetur! Natus aperiam impedit inventore itaque doloremque!
            Quibusdam numquam sit rerum aliquam, velit magni aut amet temporibus excepturi mollitia voluptatum quidem. Exercitationem ipsa temporibus ut numquam molestias incidunt at ex eum. Delectus maiores optio hic nemo dignissimos.</p>
        </div>
        <div class="testimonial testi-3">
            <img src="/assets/images/testi-1.jpeg" alt="">
            <h4>Stella</h4>
            <div class="rate">
                <i class="fas fa-star"></i>
                <span>4.5</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, magni nostrum nobis quod incidunt rem esse libero rerum impedit animi. Fuga laudantium ratione vitae fugit quo dolorem iure itaque. Illum.a</p>
        </div>
    </section>

    <section id="closing">
        <h1>Save your links now?</h1>
        <a href="/links" class="btn btn-green">Get started</a>
    </section>

    <footer>
        Terms and Conditions of Use 
        <p>Visit github</p>
    </footer>
  </body>
</html>
